  body {
    background-image: url('images/bg.png');
    background-size: initial;
    background-repeat-x: repeat;
    background-repeat-y: repeat;
    background-color: #dbdcde;
  } 
  #header{
    height:70px;
    background-image: url('images/header-bg.png');
    background-size: initial;
    background-repeat-x: repeat;
    background-repeat-y: no-repeat;
    background-color: rgb(91, 97, 104);
    margin: 0px auto;
    margin-bottom:20px;
  }
  #name{
        text-align:center;
    text-shadow:4px 4px #333;
    color: #eee9e9;
    font-size:44px;
    font-family: Verdana; Arial; Serif;
  }
  #navigation {

  }
  p{
    font-family: Georgia, "Arial", serif;
    font-size:14px;
    font-style: italic;
    color:black;
  }
  #fruit{font-weight:bold; line-height:1.8;}
  #pic {
    float: right;
  }
