/*FONTS*/
@font-face {
    font-family: Calibri;
    src: url("fonts/Calibri.ttf");
}

html {
    width: 100%;
    height: 100%;
}

body {
	margin: 0;
	padding: 0;
//	background: #1c002e url(../images/bg_darkpurple.jpg) repeat;
	font-family: 'Calibri', 'Futura', 'Open Sans', sans-serif;
    font-weight:100;
	font-size: 13px;
	color: #FFFFFF;
    margin: 0 auto;
}

/*Header Stuff*/
#header{
    position: absolute;
    top: 0; left: 0; right: 0;
    padding: 0px 20px 5px 20px;
}
    #header #name {
        text-decoration: none;
        padding: 0;
        margin: 0;
        transition: all 0.2s ease-in-out;
    }
        #header #name h1 {
            font-size: 56px;
            text-align:left;
            color:#7f7f7f;
            text-transform: lowercase;
            letter-spacing:0px;
            padding: 30px 0 0 0;
            margin: 0;
            float: left;
            font-family: Calibri;

        }
            #header #name h1 span {
            color:#000;
            }
    #header .tmtlogo {
        float: right;
        margin: 20px;
    }
    /* Navigator Stuff */
    #header #navigator {
        list-style: none;
        padding: 0;
        margin: -6px 0 0 0;
        display: block;
        float: right;
        position: relative;
    }
        #header #navigator li {
            list-style: none;
            padding: 0;
            margin: 0;
            float: left;
            position: relative;
        } #header #navigator li:hover .nav_links {
            color: #000;
            zoom: 105%;
        }
        #header #navigator li .nav_links {
            text-decoration: none;
            color: #7f7f7f;
            display: inline-block;
            float: left;
            text-align: center;
            margin: 20px 5px;
            height: 140px;
            width: 125px;
            font-size: 14px;
            position: relative;
            font-family: Calibri;
            transition: all 0.18s ease-in-out;
        } #header #navigator li .nav_links h2 {
            text-decoration: none;
            font-family: Calibri;
            font-size: 21px;
            line-height: 25px;
            text-align: center;
            float: left;
            display; block;
            margin: 0;
            padding: 0;
            position: relative;
            width: 100%;
            bottom: 0;
        }


/*Letter Content*/
#letter {
    width: 980px;
    left: 50%;
    text-align: justify;
    margin-left: -490px;
    display: block;
    position: absolute;
    font-family: Calibri;
    font-size: 22px;
    color:#000000;
    top: 120px;
}
    #letter p {
        padding: 0;
        margin: 15px 0;
        position: relative;
        line-height: 36px;
    }
        #letter p span{
            color:#505050;
            font-size: 28px;
            font-weight: bold;
        }
        #letter #tag {
            color:#000;
            font-size: 42px;
            font-weight: bold;
        } #letter #tag span {
            color:#7f7f7f;
            font-size: 42px;
            font-weight: bold;
        }
#content {
    width: 800px;
    margin-left: 100px;
    display: block;
    position: absolute;
    font-family: Calibri;
    font-size: 22px;
    line-height: 28px;
    color:#000000;
    top: 150px;
} #content p {

} #content p span {
    font-weight: bold;
    font-size: 30px;
}

/*    #content #container {
        width: 980px;
        color: #FFF;
        text-align: left;
        float: left;
        font-size: 24px;
    }*/
//    #content #container .section {
//      display: none; }
//      #content #container .section.active {
//        display: block; }
  /*    #content #container .section ul {
        padding: 0;
        margin: 0; }
        #content #container .section ul li {
          margin: 15px 0px 15px 40px; }*/
